{% extends "_/layouts/base"%}
{% block content %}
    <div class="container__detail">
    {# <img class="artist__image" src="{{artistImage.url}}" alt="{{entry.title}}"> #}
        <h1 class="detail__title">{{entry.title}}</h1>
        <p>{{entry.time}}</p>
        <p>{{entry.stage}}</p>
        <p>{{entry.day}}</p>
    </div>
{% endblock %}